body {
    font-family: "Bellefair", serif;

}

.navbar{
    background-color: #015d4d;
}

.nav .nav-link.active{
    background-color: #efe9db;
    color: #015d4d;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #efe9db;
}

.navbar-toggler {
    background-color: #efe9db;
}

.article-title {
    font-family: "Sacramento", cursive;
    font-size: 40px;
}

.article-title span {
    color: #015d4d;
}

#sobre-a-confeitaria {
    background-color: #efe9db;
}

#sobre-a-confeitaria p {
    font-size: 20px;
}

#sobre-a-confeitaria li {
    font-size: 17px;
}