body {
    font-family: "Cinzel", serif;

}

.navbar{
    background-color: #015d4d;
}

#cabecalho .nav .nav-link.active{
    background-color: #efe9db;
    color: #015d4d;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #efe9db;
}

.navbar-toggler {
    background-color: #efe9db;
}

.article-title {
    font-family: "Great Vibes", cursive;
    font-size: 42px;
}

#sobre-a-confeitaria {
    background-color: #efe9db;
}

#sobre-a-confeitaria p {
    font-size: 16px;
}

#sobre-a-confeitaria li {
    font-size: 15px;
}

.text-colored {
    color: #015d4d;
}

#eventos p {
    font-size: 16px;
}

.nav-cardapio .nav-link.active {
    background-color: #015d4d;
    color: #efe9db;
}

.nav-cardapio .nav-link:hover {
    color: #015d4d;
}